<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Private.chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <script>
        setTimeout(() => {
          document.querySelectorAll(".flash-msg").forEach(msg => {
            msg.classList.add("hide");
            setTimeout(() => msg.remove(), 800);
          });
        }, 3000);
      </script>         
</head>
<body>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="flash-msg flash-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="container">
        <h2>Join Public Chat</h2>
        <form method="POST">
            <input name="name" placeholder="Username" value="{{ username }}" required autocomplete="off">
            <button name="join" type="submit">Join</button>
        </form>
    </div>
</body>
</html>
